mysql,repare
insert into {{table}} values{{#members}}{{! 我是注释 }}
({{name}}{[test]},{{nickname}}{[1]},{{group}}{[nick]},{{age}}{[12]},{{created_at}}{[2018-01-02]}){{#__continue}},{{/__continue}}
{{/members}}
